table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
  width: 100px;
}

.title-tb {
  background-color: rgb(17, 71, 187);
  color: white;
}

.table-header {
  text-align: center;
}

.blue-td {
  background-color: aqua;
}

div.abs {
    position: absolute;
    background-color: #c9d7ff;
    left: 20px;
    top: 20px;
  }